<!DOCTYPE html>
<html>
<head>
    <title>RSS Feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


</head>
<body>

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>


    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{%url 'rss_feed'%}">나의 PS(Personal rsS)파트너</a>

    <a class="btn btn-default mx-auto"></a>

    <!-- Sidebar Toggle-->

</nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link" href="{%url 'rss_feed'%}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        To Home
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        구독 사이트 목록
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            {% for result in result %}
                                {% for ob in url %}
                                     {% if forloop.parentloop.counter == forloop.counter %}
                                         <a href="{% url 'Sub_cate' ob.id %}" style="text-decoration:none;padding:5px;">{{ result.feed.title }}</a>
                                    {% endif %}
                                 {% endfor %}
                            {% endfor %}
                        </nav>
                    </div>
                    <a class="nav-link" href="{%url 'scrap'%}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Scrap
                   </a>
                    <div class="sb-sidenav-menu-heading">subscribe</div>
                    <a href="{%url 'sub'%}" class="btn btn-outline-success mx-3" role="button">구독</a>


                </div>
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">

                <div>


                    <div class="m-3">

                        <div class="card">

                            <a href="{{feed.feed.link}}" class="card-header fs-5 text-decoration-none"><span class = "badge rounded-pill text-bg-primary">blog</span>&nbsp;{{feed.feed.title}}</a>


                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ latest_entry.title }} <span
                                        class="badge bg-secondary">New</span></h5>
                                <div class="card-text">
                                    <div class="overflow-hidden" style="height:100px;">
                                        <span class="badge text-bg-success">summary</span>

                                        {% for entries in context.entries %}
                                        {% if entries.title == latest_entry.title %}
                                        {% for paragraph in entries.paragraphs %}
                                        <span>{{ paragraph }}</span>
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                    <p>
                                        <span class="badge text-bg-success">published</span>
                                        &nbsp;{{ latest_entry.published }}</p>
                                </div>
                                <a href="{{ latest_entry.link }}" class="btn btn-primary">Go post</a>
                                <div style="float:right">
                                    <form method="post" action="{% url 'scrapSave'%}">
                                        {% csrf_token %}
                                        <input type="hidden" name="main_title" value="{{ feed.feed.title }}">
                                        <input type="hidden" name="title" value="{{ latest_entry.title }}">
                                        <input type="hidden" name="link" value="{{ latest_entry.link }}">
                                        <button type="submit" class="btn btn-success">Scrap</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="card">
                             <a href="{{feed.feed.link}}" class="card-header fs-5 text-decoration-none"><span class = "badge rounded-pill text-bg-primary">blog</span>&nbsp;{{feed.feed.title}}</a>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ second.title }} <span
                                        class="badge bg-secondary">New</span>
                                </h5>
                                <div class="card-text">
                                    <div class="overflow-hidden" style="height:100px;">
                                        <span class="badge text-bg-success">summary</span>

                                        {% for entries in context.entries %}
                                        {% if entries.title == second.title %}
                                        {% for paragraph in entries.paragraphs %}
                                        <span>{{ paragraph }}</span>
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                    <p>
                                        <span class="badge text-bg-success">published</span>
                                        &nbsp;{{ second.published }}</p>

                                </div>
                                <a href="{{ second.link }}" class="btn btn-primary">Go post</a>
                                <div style="float:right">
                                    <form method="post" action="{% url 'scrapSave'%}">
                                        {% csrf_token %}
                                        <input type="hidden" name="main_title" value="{{ feed.feed.title }}">
                                        <input type="hidden" name="title" value="{{ second.title }}">
                                        <input type="hidden" name="link" value="{{ second.link }}">
                                        <button type="submit" class="btn btn-success">Scrap</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="card">
                             <a href="{{feed.feed.link}}" class="card-header fs-5 text-decoration-none"><span class = "badge rounded-pill text-bg-primary">blog</span>&nbsp;{{feed.feed.title}}</a>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ third.title }} <span
                                        class="badge bg-secondary">New</span>
                                </h5>
                                <div class="card-text">


                                    <div class="overflow-hidden" style="height:100px;">
                                        <span class="badge text-bg-success">summary</span>
                                        {% for entries in context.entries %}
                                        {% if entries.title == third.title %}
                                        {% for paragraph in entries.paragraphs %}
                                        <span>{{ paragraph }}</span>
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}

                                    </div>


                                    <p>
                                        <span class="badge text-bg-success">published</span>
                                        &nbsp;{{ third.published }}</p>

                                </div>
                                <a href="{{ third.link }}" class="btn btn-primary">Go post</a>
                                <div style="float:right">
                                    <form method="post" action="{% url 'scrapSave'%}">
                                        {% csrf_token %}
                                        <input type="hidden" name="main_title" value="{{ feed.feed.title }}">
                                        <input type="hidden" name="title" value="{{ third.title }}">
                                        <input type="hidden" name="link" value="{{ third.link }}">
                                        <button type="submit" class="btn btn-success">Scrap</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="card">
                             <a href="{{feed.feed.link}}" class="card-header fs-5 text-decoration-none"><span class = "badge rounded-pill text-bg-primary">blog</span>&nbsp;{{feed.feed.title}}</a>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ four.title }} <span
                                        class="badge bg-secondary">New</span>
                                </h5>
                                <div class="card-text">
                                    <div class="overflow-hidden" style="height:100px;">
                                        <span class="badge text-bg-success">summary</span>

                                        {% for entries in context.entries %}
                                        {% if entries.title == four.title %}
                                        {% for paragraph in entries.paragraphs %}
                                        <span>{{ paragraph }}</span>
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                    <p>
                                        <span class="badge text-bg-success">published</span>
                                        &nbsp;{{ four.published }}</p>

                                </div>
                                <a href="{{ four.link }}" class="btn btn-primary">Go post</a>
                                <div style="float:right">
                                    <form method="post" action="{% url 'scrapSave'%}">
                                        {% csrf_token %}
                                        <input type="hidden" name="main_title" value="{{ feed.feed.title }}">
                                        <input type="hidden" name="title" value="{{ four.title }}">
                                        <input type="hidden" name="link" value="{{ four.link }}">
                                        <button type="submit" class="btn btn-success">Scrap</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="card">
                             <a href="{{feed.feed.link}}" class="card-header fs-5 text-decoration-none"><span class = "badge rounded-pill text-bg-primary">blog</span>&nbsp;{{feed.feed.title}}</a>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ five.title }} <span
                                        class="badge bg-secondary">New</span>
                                </h5>
                                <div class="card-text">
                                    <div class="overflow-hidden" style="height:100px;">
                                        <span class="badge text-bg-success">summary</span>

                                        {% for entries in context.entries %}
                                        {% if entries.title == five.title %}
                                        {% for paragraph in entries.paragraphs %}
                                        <span>{{ paragraph }}</span>
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                    <p>
                                        <span class="badge text-bg-success">published</span>
                                        &nbsp;{{ five.published }}</p>

                                </div>
                                <a href="{{ five.link }}" class="btn btn-primary">Go post</a>
                                <div style="float:right">
                                    <form method="post" action="{% url 'scrapSave'%}">
                                        {% csrf_token %}
                                        <input type="hidden" name="main_title" value="{{ feed.feed.title }}">
                                        <input type="hidden" name="title" value="{{ blogs.first.title }}">
                                        <input type="hidden" name="link" value="{{ blogs.first.link }}">
                                        <button type="submit" class="btn btn-success">Scrap</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; OSSProject_RSSFeedWeb 2023</div>
                </div>
            </div>
        </footer>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>


</body>
</html>