<!DOCTYPE html>
<html>
<head>
    <title>RSS Feed</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>


<div class="main_container">


    <div class="select_container">
        select category
    </div>


    <div class = center_container>

        <div class="title_container">
            나의 PS(Personal rsS)파트너
        </div>

        <div class="post_container">
            <a href="{{ latest_entry.link }}">{{ latest_entry.title }}</a>
            <a href="{%url 'sub'%}">구독 버튼</a>

            <div>
                <h1>블로그: {{feed.feed.title}}</h1>
                <h2>포스트: {{ latest_entry.title }}</h2>
                <h3>{{ latest_entry.pubDate}}</h3>


                <p>{{ latest_entry.description|safe}}</p>
                <h3>{{ latest_entry.published }}</h3>

            </div>
        </div>
    </div>


</div>


</body>
</html>